body {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  width: 1px;
  height: 1px;

  position: absolute;

  overflow: hidden;
  white-space: nowrap;
}

.container_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;
}
